*{
    box-sizing: border-box;
    list-style: none;
}
.banner{
    text-align: center;
    background-attachment: fixed;
    background-color: grey;
}
body{
    margin: 0;
}

p{
    color: dodgerblue;
    
}
nav a{
    display: block;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration:none;
    padding: 14px 20px;
    float: left;
}
nav{
    background-color: blanchedalmond;
    overflow: hidden;
}
nav a:hover{
    color: blue;
}
section{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100vh
}




section iframe{
    padding: 0px 20px;
    height: 50vh;
}
video{
    padding: 0px 20px;
}
section h2{
    padding: 20px;

}
footer{
    background-color:floralwhite;
    overflow: hidden;
}
footer a{
    display: block;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration:none;
    padding: 14px 20px;
    float: left;
}
.copyright{
    float: right;
}

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: white;
    color:black;
    transform: rotateY(180deg);
  }
  div{
      padding-top: 10px;
      padding-bottom: 10px;
  }

  
  































